.main {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: -250px;
    height: 100vh; 
    padding: 20px; 
    /* box-sizing: border-box;  */
  }

  .t{
    margin-top: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: #1fad85;
    font-weight: bold;
  }